body{
  display: flex;
  justify-content: center;
  }
  .display{
  background-color: black;
  color: antiquewhite;
  font-size: 20px;
  font-weight: 400;
  text-align: right;
  padding: 14;
  }
  button{
  font-size: 20px;
  }
  .opert{
  display: flex;
  }
  .opert button{
  background-color: red;
  flex: 1 1 0%;
  color: beige;
  }
  .digits{
  display: flex;
  flex-wrap: wrap;
  }
  .digits button{
  background-color: black;
  color: aliceblue;
  flex: 1 1 33.33%;
  padding: 20;
  }